.cancel-job-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-job-button:hover {
    background-color: #d9363e;
}

.cancel-job-button:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(255, 77, 79, 0.5);
}
.download-csv-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.download-csv-button:hover {
    background-color: #0056b3;
}

