cancel-job-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.cancel-job-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.cancel-job-button:hover {
  background-color: #d9363e;
}
.download-csv-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.download-csv-button:hover {
  background-color: #0056b3;
}
.telemetry_table {
  margin-top: 1rem;

  .telemetry_property {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .result_download_link {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    margin-top: 1rem;

    &:hover {
      background-color: #0056b3;
    }
  }
}
