/***************+
 * RequestAccess
 ****************/
@import '../../../assets/scss/variables.scss';


.RequestForm_wrap {
    // width: 100%;
    // max-width: 420px;
    // min-height: 500px;
    display: flex;
    flex-direction: column;
    @include box_shadow(0px 8px 20px 0px, #000);
    background-color: white;
    padding: 2rem 3rem 1rem;
    color: $dark_grey;
    .request_access_content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}
.required_text { color: $red;}
#request_form {
    
    .request_name_field {
        display: flex;
        flex-direction: row;
        .title_input {
            max-width: 100px; margin-right: 10px;
        }
        .name_input_field { flex: 1;}
    }
    input::placeholder {
        font-size: 0.9rem;
        color: var(--bs-gray-500);
    }

}
