/**************
 * Budgets
 *************/
@import '../../../assets/scss/variables.scss';

// Budgets
$budget_used_1: #de5215;
$budget_remain_1: #fcd5d5;
$budget_used_2: #247931;
$budget_remain_2: #a7f8b1;
.budgets_container {
  flex-grow: 1;
}

.budgetsList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.budgetItem_wrap {
  max-width: 46%;
  min-width: 360px;
  position: relative;
  padding: 1rem 2rem;
  border: 1px solid #dddddd;
  margin: 1rem auto;
  .budget_resource {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .budget_chart {
    width: 300px;
    height: 300px;
    @include border_radius(50%, 50%, 50%, 50%);
    border: 1px solid #eeeeee;
    /* & > div { display: none;} */
  }
  .budget_chart__explain {
    margin-bottom: 1rem;
    .explain_wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0.5rem 0;
    }
    .explain_color_box {
      width: 25px;
      height: 18px;
      margin-right: 10px;
    }
  }
}
