.listFAQ_container {
    padding: 1rem;
}

.container_header_wrap {
    margin-bottom: 1rem;
}

.page_header {
    font-weight: bold;
}

.faq_list {
    list-style: none;
    padding: 0;
}

.faq_item {
    margin-bottom: 1rem;
}

.faq_item h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.faq_item p {
    font-size: 1rem;
    color: #555;
}