
/* components/Pages/FAQ/FAQ.scss */
.faq_container {
    padding: 2rem;
    background-color: var(--bs-gray-200);
    .faq_header {
        font-size: 2rem;
        font-family: 'Open_Sans-Bold';
        text-align: center;
        margin-bottom: 2rem;
    }
    .faq_list {
        display: flex;
        flex-direction: column;
        .faq_item {
            margin-bottom: 1.5rem;
            .faq_question {
                font-size: 1.5rem;
                font-family: 'Open_Sans-Bold';
                margin-bottom: 0.5rem;
            }
            .faq_answer {
                font-size: 1rem;
                font-family: 'Open_Sans-Regular';
            }
        }
    }
}
